[package]
name = "testapp"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0"
dotenvy = "0"
humantime = "2"
image = "0.24.9"
lazy_static = "1"
log = "0"
rand = "0"
emix = { workspace = true }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["full"] }

[workspace]
members = [
	"crates/ai",
	"crates/base",
	"crates/core",
	"crates/log",
	"crates/net",
	"crates/threading",
]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"
authors = ["asm <asm2do@gmail.com>"]

[workspace.dependencies]
emix_ai = { path = "crates/ai" }
emix = { path = "crates/base" }
emix_core = { path = "crates/core" }
emix_log = { path = "crates/log" }
emix_net = { path = "crates/net" }
emix_threading = { path = "crates/threading" }
parking_lot = "0"

[profile.dist]
inherits = "release"
lto = "thin"

[profile.release]
lto = true
opt-level = 3
debug = false
codegen-units = 1

[profile.dev.package."*"]
opt-level = 3

[package.metadata.scripts]
run = "cargo run"
check = "cargo check"
build = "cargo build"
release = "cargo build --release"
features = "cargo tree --features"
